.newsletterForm {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.defaultSuccessMessage {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  color: #3DA7BA;
}

.emailInputContainer :global(.vtex-input-prefix__group),
.nameInputContainer :global(.vtex-input-prefix__group) {
  border-color: #3DA7BA;
}

.formSubmitContainer :global(.vtex-button) {
  width: 100%;
  background-color: #3DA7BA;
  border-color: #3DA7BA;
  border-radius: 0;
}

.formSubmitContainer :global(.vtex-button):hover,
.formSubmitContainer :global(.vtex-button):focus {
  background-color: #1D2223;
  border-color: #1D2223;
}


.element :global(.vtex-button__label) {
  font-weight: 700;
}