.footerLayout {
  background-color: #3DA7BA;
  padding: 10px;
}

.acceptedPaymentMethodContainer,
.socialNetworksContainer,
.poweredBy {
  justify-content: center;
  align-items: center;
  min-height: 64px;
  width: 100%;
}

.poweredByImage {
  height: 40px;
  object-fit: contain;
}

.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}