.flexRowContent--newly-launched-section-1 {
  padding-left: 18px;
  padding-right: 18px;
  align-items: center;
}

:global(.vtex-store-components-3-x-imageElement--section-1) {
  width: 100%;
}

@media screen and (min-width: 80rem) {
  .flexRow--newly-launched-section-2 {
    background-image: url(assets/images/retangle.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    max-width: 1366px;
    margin: 0 auto;
  }
}